body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 1em;
    background: #f8f8f8;
}

form input, button {
    margin: 0.5em 0;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
}

button {
    background: #3c9;
    color: white;
    border: none;
    cursor: pointer;
}

#resultat {
    margin-top: 2em;
    background: #fff;
    padding: 1em;
    border: 1px solid #ccc;
}